<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>目录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1><b>目录</b></h1>
    <br />
    <ul>
    {% for chapter in chapters %}
        <li><a href="{{chapter.number}}.html">{{chapter.title}}</a></li>
        <ul>
          {% for section in chapter.sections %}
          <li><a href="{{chapter.number}}.html#id_{{chapter.number}}.{{section.number}}">{{section.title}}</a></li>
          {% endfor %}
        </ul>
    {% endfor %}
    </ul>
  </body>
</html>
